/* .lookup {
	width: 40%;
}

.lookup-label {
	margin-left: 20px;
	float: left;
}

.lookup-list {
	float: left;
	text-align: left;
}

.selected-item {
	text-align: left;
}

.arabic-lookup-label {
	margin-right: 200px;
	float: right;
}

.arabic-lookup-list {
	float: right;
	padding-right: 20px;
	text-align: right;
}

.arabic-selected-item {
	padding-right: 20px;
	text-align: right;
	direction: rtl;
}

.currency-dim {
	width: 80%;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

.currency-text {
	text-align: left;
	float: left;
	     clear: left;
}

.arabic-currency-text {
	text-align: right;
	float: right;
	direction: rtl;
	    clear: right;
}

.id-document-dim {
	width: 60%;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

.id-document {
	text-align: left;
	float: left;
	    clear: left;
}

.arabic-id-document {
	text-align: right;
	float: right;
	    clear: right;
	direction: rtl;
} */